.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em auto;
    background-color: #d0a976;
    max-width: 1000px;
    width: 100%;
    border-radius: 8px;
    padding: 0;
}

.canvas-container {
    display: flex;
    align-items: center;
    margin: 0px;
}

.strategy-name {
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 1rem;
    width: 120px;
    text-align: left;
    white-space: nowrap;
}

.strategy-squares {
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    border: none;
}
